<% layout = "layout" %>
<div class="container">
    <div class="header">
        <h1 style="margin-bottom: 20px">Bem-vindo ao Curso de Kimbundu!</h1>
    </div>
    <div style="text-align: center; padding: 40px 0; border: 3px solid #ddd; border-radius: 8px">
        <p style="margin-bottom: 20px;">Este é o seu portal para aprender Kimbundu.<br>Aqui você encontrará aulas preparadas especialmente para si que não tem nocão da língua <strong>Kimbundu</strong>.</p>
        <a href="/auth/login" class="button">Clique aqui para Entrar</a>
    </div>
    </div>

